{{>header}}
<style>
.scooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scooter h1 {
    margin-bottom: 2rem;
}

.scooter img {
    nav-down: 600px;
    height: auto;
}

.scooter .big {
    font-size: 2.5rem;
}
</style>
<body>
    {{{body}}}
    {{> footer}}
</body>