.nav-wrapper {
    padding-right: 5px;
}

.price {
    font-size: 2rem;
}

.col .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.form-delete {
margin-top: 20px;
}

.auth {
    padding-top: 1rem;
}

.error {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1rem;
    background:rosybrown ;
    color: crimson;
}

.avatar{
   max-width: 400px; 
   height: auto;
}